body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
    color: rgb(48, 48, 48);
}
*:focus {
    outline: none;
}
#sign_up_page_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.icons_tops{
    position: fixed;
    top: 10px; 
    right: 10px; 
    margin: 20px;
    
}
.close{background-color: rgb(54, 148, 60);
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 700;
    padding: 5px 8px;   
    border-radius: 4px;
    cursor: pointer;
}
.close:hover {
    background-color: rgb(66, 181, 73);
}

.heading_sign_up {
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}


.Forget_password
{
    margin-top: -7px;
    font-size: 12px;
}
.sign_up_form {
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(54, 148, 60);
}

.sign_up_form form {
    display: flex;
    flex-direction: column;
}

.sign_up_form label {
    margin-bottom: 8px;
}

.sign_up_form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid rgb(54, 148, 60);

    border-radius: 4px;
    outline: none;
}

.sign_up_form button {
    background-color: rgb(54, 148, 60);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign_up_form button:hover {
    background-color: rgb(66, 181, 73);

}

.password_icon {
    margin-left: -30px;
}

.Already_sign_up{
    font-size: 12px;
    text-align: center;
}

.sign_up {
    text-decoration: none;
    color: rgb(54, 148, 60);
    cursor: pointer;
}

.sign_up:hover {
    color: rgb(66, 181, 73);
}
.button{
    margin-bottom: 1rem;
}
.button_with_apple , .button_with_facbook , .button_with_google
{
    width: 100%;
    margin-top: 0.5rem;
}

.connect_icon
{
    margin-right: 0.5rem;
}

@media (max-width: 600px) {

    .sign_up_form {
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
    }
    

}