body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
    color: rgb(48, 48, 48);
}

*:focus {
    outline: none;
}

#sign_up_page_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.icons_tops {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 20px;

}

.close {
    background-color: rgb(54, 148, 60);
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.close:hover {
    background-color: rgb(66, 181, 73);
}

.heading_sign_up {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}



.sign_up_form {
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(54, 148, 60);
}

.sign_up_form form {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 90%;
    border-radius: 4px;
    outline: none;
    overflow-x: auto;
    white-space: pre-wrap;
    overflow-y: auto;
    resize: none;
}

h3 {
    margin: 10px 0px 10px 0px;

}

.subjectSelect
{
    padding: 8px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(54, 148, 60);
}

.textarea {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    
}

.sign_up_form button {
    background-color: rgb(54, 148, 60);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign_up_form button:hover {
    background-color: rgb(66, 181, 73);

}

.input-group {
    position: relative;
    padding-top: 16px   ;
    height: 150%;
    margin-bottom: 16px;
    background-color: white;
    border: 1px solid rgb(54, 148, 60);
    border-radius: 4px;
    outline: none;
}

.input-group .ri-image-line {
    position: absolute;
    bottom: 10px;
    right: 12px;
    cursor: pointer;
    color: rgb(66, 181, 73);
    font-size: 20px;
}

#input_file {
    display: none;
}

.image_div_upload {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#question_picture1 {
    display: none;
    max-width: 100px;
    max-height: 100px;
    border-radius: 4px;
    border: 1px solid rgb(54, 148, 60);
}

#closeButton_image {
    display: none;
}

.image_div_upload button {
    background-color: rgb(54, 148, 60);
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.image_div_upload button:hover {
    background-color: rgb(66, 181, 73);

}


@media (max-width: 600px) {

    .sign_up_form {
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
    }


}