body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
    color: rgb(48, 48, 48);
}

*:focus {
    outline: none;
}

.liked {
    color: rgb(54, 148, 60);
    /* Change the color to your preferred liked color */
}

.disliked {
    color: red;
    /* Change the color to your preferred disliked color */
}


#sign_up_page_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.icons_tops {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 20px;

}

.close {
    background-color: rgb(54, 148, 60);
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.close:hover {
    background-color: rgb(66, 181, 73);
}


a {
    text-decoration: none;
    color: inherit;
}

#div_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2_div {
    margin-top: 4rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(54, 148, 60);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30rem;

}

.like_dis_div {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.answer_post {
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(54, 148, 60);
    padding: 1rem;
    width: 20rem;

}

#subjectText {
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 5VW;
    margin: 1rem;


}

.post {

    margin-top: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(54, 148, 60);
    padding: 1rem;
    width: 30rem;

    margin-bottom: 20px;
}

.h1_post {
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    color: rgb(74, 74, 74);
    margin: 0px;

}

.h2_post {
    letter-spacing: 0.5px;
    font-size: 0.6rem;
    margin: 0px;
    color: rgb(74, 74, 74);
}
.h1_post_check {
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    color: rgb(74, 74, 74);
    margin: 0px;

}

.h2_post_check {
    letter-spacing: 0.5px;
    font-size: 0.6rem;
    margin: 0px;
    color: rgb(74, 74, 74);
}

.p_post {
    white-space: normal;
}

/* .hr_post {
    margin-top: 2rem;
} */
/* #hr_pre{
    margin-top: -0.5rem;
} */
#buttonSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#answerInput {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid rgb(54, 148, 60);
    border-radius: 4px;
    outline: none;
    width: 28rem;
    margin-top: 3rem;
}

#button_post {
    background-color: rgb(54, 148, 60);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.post_ineer {
    background-color: blue;
    width: 100px;
}

.main2 {
    background-color: blue;
    width: 100px;

}

.post_head_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3_post {
    font-size: 0.5rem;
    margin: 0px;
    color: rgb(74, 74, 74);
}

.h3_post_check {
    font-size: 0.5rem;
    margin: 0px;
    color: rgb(74, 74, 74);
}

.post_head {
    display: flex;
    justify-content: center;
    align-items: center;

}

.post_img1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

@media (max-width: 600px) {

    .sign_up_form {
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
    }

    .h2_div {
        margin-top: 5rem;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
        padding-left: 1rem;
        padding-right: 1rem;
        width: 15rem;

    }

    .post {

        margin-top: 1rem;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
        padding: 1rem;
        width: 15rem;

    }

    #answerInput {
        padding: 8px;
        margin-bottom: 5px;
        border: 1px solid rgb(54, 148, 60);
        border-radius: 4px;
        outline: none;
        width: 13rem;
    }


    .answer_post {
        margin-top: 1rem;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(54, 148, 60);
        padding: 1rem;
        width: 12rem;

    }



    .post_head_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .post_head {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .post_img1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .h1_post_check {
        letter-spacing: 0.5px;
        font-size: 0.6rem;
        color: rgb(74, 74, 74);
        margin: 0px;

    }

    .h2_post_check {
        letter-spacing: 0.5px;
        font-size: 0.5rem;
        margin: 0px;
        color: rgb(74, 74, 74);
    }

    .h3_post_check {
        font-size: 0.5rem;
        margin: 0px;
        color: rgb(74, 74, 74);
    }

}